@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** FORM *****/

form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 667px;
  margin: auto;
}
form h2 {
  margin-bottom: 16px;
}
.form > div {
  margin: 8px 0;
}
